$background_color: #fafafa;
$theme_color: #2A6DCB;
$secondary_color: #FF9800;
$common_easing: cubic-bezier(1, 0, 0, 1);
$grid_columns_pc: 8;
$grid_size: 150px;
$grid_small_size: 50px;
$grid_gap: 5px;
$catchphrase_span_row_pc: 4;
$catchphrase_span_column_pc: 5;
$catchphrase_span_row_tab: 4;
$catchphrase_span_column_tab: 4;
$max_width: $grid_size * $grid_columns_pc + $grid_gap * ($grid_columns_pc - 1);
$horizontal_margin: 40px;